body
{
background-color:lightgrey;
}

#papa
{
height:1120px;
width:800px;
background-color:#89CFF0;
margin:0px auto;

}
#c1
{
height:100px;
width:800px;
background-color:white;
//border:1px solid;
}
#c11
{
height:20px;
width:280px;
margin-top:80px;
float:right;
}
#c2
{
height:100px;
width:800px;
background-color:white;
//border:1px solid;
}
#child
{
height:100px;
width:280px;
background-color:#89CFF0;
//border:1px solid;
float:left;
}
#c21
{
height:100px;
width:160px;
background-color:#89CFF0;
color:white;
float:left;
margin-left:100px;
fond-size:40px;
}
#c22
{
height:60px;
width:220px;
background-color:white;
margin-top:20px;
margin-left:20px;
float:left;
fond-size:40px;
}
#c23
{
height:100px;
width:280px;
background-color:#89CFF0;
color:white;
float:left;
}
#c3
{
height:30px;
width:800px;
background-color:white;
}
#c33
{
height:30px;
width:600px;
//background-color:pink;
margin-left:100px
}
#c4
{
height:800px;
width:800px;
background-color:white;
margin-top:10px;
}
#c44
{
height:780px;
width:400px;
background-color:#89CFF0;
margin-left:100px;
margin-top:20px;
float:left;
}
#a1
{
height:60px;
width:400px;
background-color:white;
}
#a2
{
height:300px;
width:400px;
background-color:white;
margin-top:10px;
}
#a21
{
height:290px;
width:195px;
//ckground-color:black;
float:left;
}
#a22
{
height:290px;
width:195px;
//background-color:white;
margin-left:10px;
float:right;
}
#a3
{
height:160px;
width:400px;
background-image:url('../images/ab.jpg');
background-color:white;
background-repeat:no-repeat;
background-size:cover;

}
#a4
{
height:40px;
width:400px;
background-color:white;
}
#a5
{
height:200px;
width:400px;
background-color:white;
margin-top:10px;
//border:1px solid;
}
#a51
{
height:170px;
width:220px;
//background-color:blue;
float:left;
}
#a52
{
height:170px;
width:160px;
//background-color:blue;
float:right;
background-image:url('../images/ac.jpg');
background-repeat:no-repeat;
background-size:cover;
}
#c45
{
height:860px;
width:280px;
background-color:white;
margin-left:20px;
margin-top:20px;
float:left;
}
#c444
{
height:360px;
width:280px;
//background-color:black;
}
#accc
{
height:300px;
width:280px;
//background-color:#89CFF0;
background-image:url('../images/ad.jpg');
background-repeat:no-repeat;
background-size:cover;
}
#acdd
{
height:60px;
width:280px;
background-color:#89CFF0;
color:white;
}

#c445
{
height:410px;
width:280px;
background-color:#89CFF0;
margin-top:10px;
}

#c446
{
height:70px;
width:280px;
background-color:#89CFF0;
margin-top:10px;
}

#c5
{
height:70px;
width:520px;
background-color:white;
margin-top:10px;
}