#outer
{
height:2850px;
width:1415px;
//background-color:black;
}
#header
{
height:200px;
width:1415px;
background-color:#5D6D7E;
}
#logo
{
height:200px;
width:200px;
//background-color:red;
background-image:url('../images/logo.png');
float:left;
}
#name
{
height:200px;
width:1015px;
background-color:black;
float:left;
}
#title
{
height:150px;
width:1015px;
background-color:red;
}
#nav
{
height:50px;
width:1015px;
background-color:pink;
}
#iao
{
height:200px;
width:200px;
background-color:red;
background-image:url('../images/aa.jpg');
float:right;
}
#slider
{
height:2425px;
width:1415px;
background-color:#AEB6BF ;
}
#photo
{
height:685px;
width:1415px;
background-color:yellow;
}
#con
{
height:1365px;
width:1415px;
//background-color:red;
}
#slider2
{
height:375px;
width:1415px;
//background-color:yellow;
}
#footer
{
height:300px;
width:1415px;
background-color:#2E4053;
}